div {
    border: 2px dotted gray;
    padding: 20px;
    width: 50%;
    margin: auto;
}
input {
    margin: 10px;
}
textarea, button {
    margin: 10px;
}
.field {
    background-color: lightgray;
}
strong, li {
    color: red;
}
.ramka {
    border: 1px solid red;
}
form div > div {
    border: 1px solid black;
    width:90%;
}
.redboll {
    color: red;
    font-weight: bolder;
}
h2 {color: green}
.bluecirs {
    font-style: italic;
    color: blue;
    font-weight: bolder
}
.fiolcurs {
    font-style: italic;
    color: brown;
}
.redcirs {
    font-style: italic;
    color: red;
    font-weight: bolder
}
.areal {
    font-family: Arial;
}
.center {
    text-align: center;
    margin-top: 15px;
}