div {
    border: 2px dotted gray;
    padding: 20px;
    width: 50%;
    margin: auto;
}
input {
    margin: 10px;
}
textarea, button {
    margin: 10px;
}
.field {
    background-color: lightgray;
}
strong, li {
    color: red;
}
.ramka {
    border: 1px solid red;
}
form div > div {
    border: 1px solid black;
}
.redboll {
    color: red;
    font-weight: bolder;
}
h2 {color: green}
.bluecirs {
    font-style: italic;
    color: blue;
}
.fiolcurs {
    font-style: italic;
    color: lightpink;
}